<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="600000" /> <!-- Timer to retrieve and store the sensor data Default=10 minutes -->
    <add key ="GEO_API_KEY" value="YOUR_API_KEY"/> <!-- The API key for google geocode -->
    <add key="CountryCode" value="GR"/> <!-- The 2-letter country code to collect data from -->
    <add key="SensorAPI" value="https://data.sensor.community/airrohr/v1/filter/country="/> <!-- API to retrieve the data from -->
  </appSettings>
</configuration>
