<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="10" /> <!-- Timer to retrieve and store the sensor data-->
    <add key ="GEO_API_KEY" value="AIzaSyCCJimI6r5D_nyFCxSQxg8oO4S_q8IrroA"/> <!-- The API key for google geocode-->
  </appSettings>
</configuration>