<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LogPath" value="C:\Users\john-\Desktop\SensorDataService\Logs\" />
    <!--The absolute path where the application logs will be created -->
    <add key="TimerInterval" value="6000" />
    <!-- Timer to retrieve and store the sensor data Default=10 minutes -->
    <add key="GEO_API_KEY" value="YOUR_API_KEY" />
    <!-- The API key for google geocode -->
    <add key="CountryCode" value="GR" />
    <!-- The 2-letter country code to collect data from -->
    <add key="SensorAPI" value="https://data.sensor.community/airrohr/v1/filter/country=" />
    <!-- API to retrieve the data from -->
    <add key="DataStorageMode" value="ENTITY" />
    <!-- [ENTITY,API,FILE]: Supporting 3 modes to save the data: Entity Framework, send data via request to API or write the data to file-->
    <add key="DataStorageMethod" value="ENTITY" />
    <add key="DataStorageMethod" value="API" />
    <add key="DataStorageMethod" value="FILE" />
    <add key="FileStorageFormat" value=".csv" />
    <!--- If the logging method is set to FILE, this file format is going to be used to store the data -->
    <add key="DataFilePath" value=".\SensorDataService\Data"/>
    <!-- The directory where the data files will be generated. -->
    <add key="MaxFileSize" value="2000"/>
    <!-- In KiloBytes. Set to create a new file to store sensor data, if the file size has been exceeded. -->
  </appSettings>
</configuration>